.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.main {
  padding: 20px;
}

.nav-sidebar > li > .active,
.nav-sidebar > li > .active:hover,
.nav-sidebar > li > .active:focus {
  color: #fff;
  background-color: #428bca;
}

.placeholders {
  margin-bottom: 30px;
}

.placeholder {
  margin-bottom: 20px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.nav-link {
  display: block;
}
ul.flex-column.nav a {
  padding: 0.5rem 0;
}
.navbar-brand {
  font-weight: 900;
}
.sidebar .nav-link.active {
  color: #007bff;
}
.sidebar .nav-link {
  font-size: 0.8rem;
  color: #333;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.my-div-icon {
  height: 25px !important;
  width: 25px !important;
  background-color: rgba(255, 0, 0, 0.8) !important;
  border: 2px solid grey;
  border-radius: 50%;
  display: inline-block !important;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 2px;
}
.custom-modal {
  width: 90%;
}

.pop-address {
  font-size: 14px;
}

.pop-address a {
  cursor: pointer;
}

.pop-pad {
  padding-bottom: 10px;
}
main {
  top: 0px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #34495e !important;
    border-right: 1px solid #eee;
  }
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.table-sm th,
.table-sm td:first-child {
  width: 50%;
}
.sidebar .nav-link.active {
  color: #38afff;
}
.sidebar .nav-link {
  color: #ecf0f1;
}
.insight-tab {
  background-color: white;
  padding: 15px 10px 1px 10px;
  border-top: 3px solid #1e3799;
  margin-bottom: 30px;
}
nav .h4 {
  color: white;
  font-weight: bolder;
}
.nav-link {
  display: block;
  padding: 0.25rem 1rem;
}
a {
  color: #1e3799;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1e3799;
}
.nav-pills .nav-link {
  border-radius: 0rem;
}
.form-check-label {
  font-size: 0.75rem;
}
.form-control {
  height: calc(1.75rem + 2px);
  font-size: 0.8rem;
}
